#  1. What are data structures, and why are they important
 - data structures are special ways to manage the data , store the data, and acccess of manipulation of the data which enable faster processing . It is important because they allow programmers to manage large data sets effectively

# 2. Explain the difference between mutable and immutable data types with examples
- mutability refers to the concept of change of the data/data structure again after initialization wherea as immutaility is that we modify the data
Ex. mutable - lists , dictionaries
    immutable - tuples , strings
# 3.What are the main differences between lists and tuples in Python3
  - The main differences is that list can be modified after initializaion but tuple can't be modified
    - l1 = [2,3,4,5]
     - l1[0] = 9
     - now l1 = [9,3,4,5]
    -  but t1 = (1,2,3)
     - t1[0] = 9
     - print(t1) gives an error
# 4. Describe how dictionaries store data
  - Dictionaries store the data in the form of Key and Value form
    - i.e for the value there will be a key by which we can access the value
    - Ex. d = {"state" : "capital" }
# 5. Why might you use a set instead of a list in Python3
  - We use set instead of a list when we only need the unique elements or  unique no of elements present in that specific list
  - Ex. l = [1,1,1,2,2,3,3,4,4,4,4,4,5,5]
  - now s = set(l)
  - prints [1,2,3,4,5]

#6.  What is a string in Python, and how is it different from a list
  - String is immutable sequence of characters to represent any text where as list is mutable , an ordered sequence of items and can store any form of data
  - ex.   s = "pw skills"
  - l = [ 2 , 2.5 , True , "pw" , 3 + 5j ]
#7 .How do tuples ensure data integrity in Python
  - Tuple in python ensure data integrity through it's immutability this means that once a tuple is declared / created , its elements can not be changed , added or removed
#8.  What is a hash table, and how does it relate to dictionaries in Python
#9. Can lists contain different data types in Python3
  - Yes lists in python store  different data types
  - Ex.l = [ 2 , 2.5 , True , "pw" , 3 + 5j ]
#10 . Explain why strings are immutable in Python
  - Strings are immutable in python because of security purpose and thread safety

#11. What advantages do dictionaries offer over lists for certain tasks
  - dictionaries offer very fast retrieval of the data  and also non-sequence data in O(1) time than a list which takes O(n) {n is size of the list} by its key - value pairs
#12.  Describe a scenario where using a tuple would be preferable over a list
  - When we the  user to just see the data we use tuple but when we allow the  user to manipulate the data we shall use list
#13.  How do sets handle duplicate values in Python
  - sets do  not accept the addition of the of any existing element in it
  - the attempt of addition of any existing element is simply ignored by the set
  - s = {1,2,3,3}
  - print(s)
  - it prints {1,2,3}
  - s.add(2)
  - print(s)
  - {1,2,3} there is no change in the set as it simply ignored the addition of existing element
#14 . How does the “in” keyword work differently for lists and dictionaries
   - "In" keyword works diiferently for lists and dictionaries
   - for lists it , the in keyword , checks specific element belongs/exists in the list
   - for dictionaries it checks that a specific key is present in the provided dictionary
   -Ex. ls = [1,2,3]
   - print(1 in ls) >> prints true as element/data is present in the given list
   - dc = { "pen" : 2, "books" : 3 }
   - print("pen" in dc ) >> prints true as element/data is present in the given dictionary
#15.  Can you modify the elements of a tuple? Explain why or why not
  - We can not modify the elements of a tuple because of data integrity and performance
#16. What is a nested dictionary, and give an example of its use case
   - Nested dictionary in python is a dictionary that takes another dictionary as a value for a specific key in the main dictoinary
   - Ex. details of students in university
   - dc = { "CSE" : {"name" : "rahul" , "roll no" : 234 , "Year of study" : 3} }
   - when we call dc["CSE"] it prints all information of the CSE student
#17. Describe the time complexity of accessing elements in a dictionary
  - time complexity of accessing elements in dictionary is O(1) i.e constant because by just calling element by Key we can access the element in very fast time
#18.  In what situations are lists preferred over dictionaries
  - lists are preferred over dictionaries where order of elements  is important and elements needs to be accessed by their indicies/ numerical positions
#19. Why are dictionaries considered unordered, and how does that affect data retrieval
  -The "unordered" nature means that data retrieval depends on the key, not its position, which affects applications that require sequential data processing.
#20. Explain the difference between a list and a dictionary in terms of data retrieval.
  - list is index-based retrieval where as dictionary is key-based retrieval

# practical Questions

In [1]:
#1.Write a code to create a string with your name and print it
name = "rahul"
print(name)

rahul

In [2]:
#2. Write a code to find the length of the string "Hello World"
s = "Hello World"
print(len(s))

11

In [3]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"
s = "Python Programming"
print(s[0:3])

Pyt

In [4]:
#4.Write a code to convert the string "hello" to uppercase
s = "hello"
print(s.upper())

HELLO

In [5]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple"
s = "I like apple"
print(s.replace("apple" , "orange"))

I like orange

In [6]:
#6.Write a code to create a list with numbers 1 to 5 and print it
l = [1,2,3,4,5]
print(l)

[1, 2, 3, 4, 5]

In [7]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]
l = [1,2,3,4]
l.append(10)
print(l)

[1, 2, 3, 4, 10]

In [8]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
l = [1,2,3,4,5]
l.remove(3)
print(l)

[1, 2, 4, 5]

In [10]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
l = ['a', 'b', 'c', 'd']
print(l[1])

b

In [11]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
l = [10, 20, 30, 40, 50]
print(l[::-1])

[50, 40, 30, 20, 10]

In [13]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
t = (100,200,300)
print(t)

(100, 200, 300)

In [14]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
t = ('red', 'green', 'blue', 'yellow')
print(t[-2])

blue

In [15]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
t = (10, 20, 5, 15)
print(min(t))

5

In [17]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t = ('dog', 'cat', 'rabbit')
print(t.index("cat"))

1

In [18]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
t = ("apple" , "banana" , "kiwi")
print("kiwi" in t)

True

In [19]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s = {"a","b","c"}
print(s)

{'c', 'a', 'b'}

In [20]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [21]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [23]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1.union(s2))

{1, 2, 3, 4, 5}

In [24]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1 = {1, 2, 3}
s2 = {2, 3, 4}
print(s1.intersection(s2))

{2, 3}

In [25]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dc = {"name" : "rahul" , "age" : 20 , "city" : "delhi"}
print(dc)

{'name': 'rahul', 'age': 20, 'city': 'delhi'}

In [26]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dc = {'name': 'John', 'age': 25}
dc["country"] = "USA"
print(dc)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [27]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dc = {'name': 'Alice', 'age': 30}
print(dc["name"])

Alice

In [28]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dc = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dc.pop("age")
print(dc)

{'name': 'Bob', 'city': 'New York'}

In [29]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dc = {'name': 'Alice', 'city': 'Paris'}
print("city" in dc)

True

In [32]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
l = [1,2,3,4]
t = (1,2,3,4)
dc = {"name" : "rahul" , "age" : 20 , "city" : "delhi"}
print(l  ,  t  ,  dc)

[1, 2, 3, 4] (1, 2, 3, 4) {'name': 'rahul', 'age': 20, 'city': 'delhi'}

In [33]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
l = []
for i in range(5):
    l.append(random.randint(1,100))
l.sort()
print(l)

[20, 42, 74, 86, 86]

In [34]:
#28. Write a code to create a list with strings and print the element at the third index.
l = ["apple" , "banana" , "kiwi" , "mango"]
print(l[2])

kiwi

In [39]:
#29. Write a code to combine two dictionaries into one and print the result.
dc1 = {"name" : "rahul" , "age" : 20 , "city" : "delhi"}
dc2 = {"name" : "vere" , "age" : 22 , "city" : "delhi"}
dc1.update(dc2)
print(dc1)

{'name': 'vere', 'age': 22, 'city': 'delhi'}

In [42]:
#30. Write a code to convert a list of strings into a set.
l = ["apple" ,"apple","banana" , "kiwi" , "mango"]
s = set(l)
print(l)
print(s)

['apple', 'apple', 'banana', 'kiwi', 'mango']
{'mango', 'banana', 'apple', 'kiwi'}